html, 
body {
    /* background-color: #D9EAD3 !important; */
    background-color: #ADC9B3 !important;
}

.nav-bgc,
.nav-bgc a,
.nav-bgc ul {
    background-color: #123524 !important;
    color: #D9EAD3 !important; 
    /* color: #fff !important; */
}

.nav-hello,
#saved,
.nav-login,
.nav-logout,
.nav-register {
    font-weight: 600;
}

.find-park {
    border: thin solid #537765;
    border-radius: 5px;
    padding: .5em;
    color: #D9EAD3;
    background-color: #537765;
    font-weight: 600;
}

.find-park:hover {
    color: #fff;
    background-color: #123524;
}

.park-data { 
    margin-top: 5em;
}

#select-state {
    margin-top: 2em;
}

/* https://stackoverflow.com/questions/13632985/limit-the-height-of-a-responsive-image-with-css 
   https://stackoverflow.com/questions/13632985/limit-the-height-of-a-responsive-image-with-css
*/
.image-div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#state-parks,
#park-learning,
#np-lessons,
#saved-lessons,
#edit-lesson,
#complete-lesson,
#user-profile,
#change-username,
#change-password {
    margin-top: 3em;
}

.parks,
.lessons {
    border-bottom: thin solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
}

#saved {
    color: #D9EAD3;
}

.lesson-title {
    font-weight: bold;
    font-size: 1.1em;
}


#stored-lesson-data,
#notes,
#image-upload {
    margin-bottom: 2em;
}


#image-upload,
#doc-file,
#save-edit {
    display: block;
}

#save-edit {
    margin-top: 2em;
    background-color: #537765;
    border-color: #537765;
}

/* Update Profile Buttons */

.btn-username {
    margin-right: 1em;
}

.btn-update {
    text-decoration: none;
    margin-left: .5em;
}

.btn-username,
.btn-password,
.update-user-profile,
.update-user-name-profile,
.update-user-password-profile {
    border: thin solid #537765 !important;
    padding: .5em !important;
    color: #D9EAD3 !important;
    background-color: #537765 !important;
    font-weight: 600;
    border-radius: 5px;
}

.btn-username:hover,
.btn-password:hover,
.update-user-profile:hover,
.update-user-name-profile:hover,
.update-user-password-profile:hover {
    color: #fff !important;
    background-color: #123524 !important;
}


/* STYLE LOGIN AND REGISTER PAGES WITH GREEN COLORS AND POSSIBLY AN IMAGE */
/* https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus */

.input:focus {
    outline: none !important;
    border: thin solid #537765;
    box-shadow: 0 0 10px #123524;
  }

.register,
.login,
.btn-username,
.btn-password {
    border: thin solid #537765 !important;
    padding: .5em !important;
    color: #D9EAD3 !important;
    background-color: #537765 !important;
    font-weight: 600;
}

.register:hover,
.login:hover,
.btn-username:hover,
.btn-password:hover {
    color: #fff !important;
    background-color: #123524 !important;
}


.alt-login a,
.alt-register a {
    color: #123524;
}

.alt-login a:hover,
.alt-register a:hover {
    color: #537765;
}


/* ADD MEDIA QUERIES TO ADJUST VIEW ON TABLET AND MOBILE DEVICES */

