html, 
body {
    /* background-color: #D9EAD3 !important; */
    background-color: #ADC9B3 !important;
}

.nav-bgc,
.nav-bgc a,
.nav-bgc ul {
    background-color: #123524 !important;
    color: #D9EAD3 !important; 
    /* color: #fff !important; */
}

.find-park {
    border: thin solid #537765;
    border-radius: 5px;
    padding: .5em;
    color: #D9EAD3;
    background-color: #537765;
}

.find-park:hover {
    color: #fff;
    background-color: #123524;
}

.park-data { 
    margin-top: 5em;
}

#select-state {
    margin-top: 2em;
}

/* https://stackoverflow.com/questions/13632985/limit-the-height-of-a-responsive-image-with-css 
   https://stackoverflow.com/questions/13632985/limit-the-height-of-a-responsive-image-with-css
*/
.image-div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#state-parks,
#park-learning,
#np-lessons,
#saved-lessons,
#edit-lesson,
#edited-lesson {
    margin-top: 3em;
}

.parks,
.lessons {
    border-bottom: thin solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
}

#saved {
    color: #D9EAD3;
}

.lesson-title {
    font-weight: bold;
    font-size: 1.1em;
}


#stored-lesson-data,
#notes,
#image-upload {
    margin-bottom: 2em;
}


#image-upload,
#doc-file,
#save-edit {
    display: block;
}

#save-edit {
    margin-top: 2em;
    background-color: #537765;
    border-color: #537765;
}

/* STYLE LOGIN AND REGISTER PAGES WITH GREEN COLORS AND POSSIBLY AN IMAGE */

/* ADD MEDIA QUERIES TO ADJUST VIEW ON TABLET AND MOBILE DEVICES */

